.section_1{
  background: url("../../assets/image/square1-bg.jpg") no-repeat;
  margin: 0 auto;
  max-width: 1024px;
  background-size: 100% 100%;
  margin-bottom: 20px;
  h2{
    padding-bottom: 15px;
  }
  h1{
    line-height: 1;
  }
  h3{
    padding: 20px 0 75px;
  }
}