//-!DOCTYPE + head + body
include layouts/template/template
body
   div.main
       include layouts/header/header
       include layouts/section_1/section_1
       include layouts/section_2/section_2
       include layouts/section_3/section_3
       include layouts/footer/footer

