.section_2
    .block_left
        .block_left_content
            h2 ACCESSORIES
            h1 Peak
            span
                | A playful pouch
                br
                | with a trick up its
                br
                | sleeve
            a.btn_border_y(href='') Read more
        .block_left_img
    .block_right
        .title Good Things
        .descriptions
            | ...
            br
            | come to those who sign up
            br
            | for our newsletter.
        button.btn_w Your email
        button.btn_blue Subscribe
        span
            | We respect your privacy and we won’t
            br
            | share your information.

