.section_3
    .block_mob
        .block_one
            h2 CAMERAS
            .title Leica M
            a(href='') Review
        .block_two
            h2 SOUND
            .title
                | Trobla
                br
                | Amplifier
            a(href='') Review
    .block_three
        h2 CAMERAS
        h1 Leica D-Lux
        .descriptions
            | Limited-edition DIesel
            br
            | collaboration
        a.btn_blue(href='') Read more


