.section_3
    .block_one
        h2 CAMERAS
        .title Leica M
        button Review
    .block_two
        h2 SOUND
        .title
            | Trobla
            br
            | Amplifier
        button Review
    .block_three
        h2 CAMERAS
        h1 Leica D-Lux
        .descriptions
            | Limited-edition DIesel
            br
            | collaboration

        button Read more

