.header
    .burger
        img(src='./assets/image/menu-icon.png')
    a.header_logo(href='')
        .title DTM
        span Design Meets Tech
    .search.label
            input(type="text" name="text" placeholder="SEARCH")