.section_1
    .content
        h2 HOME
        h1
            | Buster
            br
            | Bulb
        h3
            | The first designer
            br
            | LED bulb, finished
            br
            | in gold glass.

        button.btn_border_y Read more
